/* PD: Me siento mas a gusto con scss pero no supe como configurarlo rapido en NextJS. No queria complicarme */

.customSelect{
  font-size: 0.7rem;
  border: 1px solid black;
  border-radius: 3px;
  width: 100px;
  height: 25px;
}

.task {
    border: 1px solid black;
    padding: 10px 15px;
    margin: 30px;
    width: 100%;
    border-radius: 5px;
  }

  .typesContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    height: 30px;
  }

  .title{
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  /* em para mantener el tamaño en escala en este caso */
  .title b{
    font-size: 1.1rem;
  }

  .task h2 {
    margin: 0;
    font-size: 18px;
  }
  .task h3 {
    margin: 0;
    font-size: 14px;
  }
  
  .task p {
    margin: 5px 0;
    font-size: 14px;
  }

  .taskButtons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    
  }
  .saveAndClose{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .saveBtn{
    background-color: lightgreen;
    font-size: 1rem;
  }
  .deleteBtn{
    background-color: lightcoral;
    font-size: 1rem;
  }
