/* PD: Me siento mas a gusto con scss pero no supe como configurarlo rapido en NextJS. No queria complicarme */

.task {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 350px;
    border-radius: 5px;
  }

  .typesContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    height: 30px;
  }

  .title{
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  /* em para mantener el tamaño en escala en este caso */
  .title b{
    font-size: 1.5em;
  }

  .task h2 {
    margin: 0;
    font-size: 18px;
  }
  .task h3 {
    margin: 0;
    font-size: 14px;
  }
  
  .task p {
    margin: 5px 0;
    font-size: 14px;
  }

  .taskButtons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .saveAndClose{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  