html{
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
}

button{
    all: unset;
    cursor: pointer;
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius:0.25rem;
    /* margin: 0 2rem; */
    border: 1px solid black;
    background-color: none;
}

input{
    all: unset;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px 10px;
    width: 150px;
}

select{
    font-size: 0.8rem;
    border: 1px solid black;
    border-radius: 3px;
    width: 100px;
    height: 30px;
}

h4{
  margin: 5px 0;
}

p{
  margin-top: 10px;
}

.centerApp{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.appContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid black;
    border-radius: 10px; */
    width: 450px;
    position: relative;
}

.newTaskContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    gap: 20px;
    box-sizing:border-box;
}

.newTaskInputs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.newTaskTextarea {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    border: 1px solid black;
    border-radius: 3px;
    box-sizing: border-box;
    position: relative;
  }
  
  .newTaskTextarea textarea {
    border: none;
    width: 95%;
    height: 80%;
    resize: none;
    box-sizing: border-box;
    outline: none; /* remove outline when selected */
    font-size: 0.7rem;
  }

  .charCounter{
    font-size: 14px;
    color: green;
    position: absolute;
    right: 1%;
    bottom: 1%;
  }
  .overLimit {
    color: red;
  }

  .moveToRight{
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  

  .addTaskBtn{
    margin-top: 15px;
    margin-bottom: 30px;
  }


  .filtersCcontainer{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;

  }

  .filtersSelects{
    display: flex;
    justify-content: space-between;
    align-items:self-end;
  }

  .styleSelect{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
  .styleSelect p {
    margin: 5px 0;
  }
  .styleSelect select {
    width: 150px;
  }


  .clearBtn{
    padding: 0;
    margin: 0;
    height: 30px;
    width: 100px;
    text-align: center;
    font-size: 1rem;
  }

  .noTasks{
    margin-top: 50px;
  }

  .pagination {
    display: flex;
    width: 100%;
    justify-content: space-evenly;

  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul.pagination li {
    display: inline-block;
    width: 30px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    cursor: pointer;
  }
  
  ul.pagination li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
  }
  
  ul.pagination li.active a {
    color: black
  }
  ul.pagination li.active {
    background-color: #d3d3d3;
    border-radius: 20px;
  }
  
  
  .page-selection {
    width: 48px;
    height: 30px;
    color: black;
    cursor: pointer;
  }
  
  .pagination-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }